$yellow: #fea93a;
$yellowTrans: rgba(254, 169, 58, 0.5);
$blue: #319de0;
$blueTrans: rgba(49, 157, 224, 0.5);

.frostedGlass{
  //sizing
  width: 100%;
  height: 100vh;
  position:relative;

    &--yellow{
      .content{
          h1,h2,h3,h4,h5,h6{
            color:$yellow;
          }
          ul{
            color:$yellow;
            li span{
              color:#fff;
            }
          }
        .cta{
          border:2px solid $yellow;
          background-color: $yellowTrans;
          &:hover{
            background-color: rgba(254, 169, 58, 0.8);
          }
          &:active{
            background-color: rgba(254, 169, 58, 0.3);
          }
        }
    }
    }
    &--blue{
      .content{
          h1,h2,h3,h4,h5,h6{
            color:$blue;
          }
          ul{
            color:$blue;
            li span{
              color:#fff;
            }
          }
        .cta{
          border:2px solid $blue;
          background-color: $blueTrans;
          &:hover{
            background-color: rgba(49, 157, 224, 0.3);
          }
          &:active{
            background-color: rgba(49, 157, 224, 0.8);
          }
        }
    }
    }
  .image{
    //sizing
    width:100%;
    height:100%;

    //image
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &--blur{
      //styles
      filter: blur(10px);

      //sizing
      width: 315%;
      height: 100%;

      //positioning
      position: absolute;
      top: 0;
      z-index: 3;

      //modifyers
      &--more{
        filter: blur(20px);
      }
      &--less{
        filter: blur(5px);
      }
    }
  }

  .mask {
      //styles
      background-color: rgba(127,127,127,0.2);
      box-shadow: 0 0 20px #000;
      overflow: hidden;

      //sizing
      height: 100%;
      width: 50%;
      max-width: 600px;

      //spacing
      padding:0 15px;

      //positioning
      position: absolute;
      left:0;
      right:0;
      margin:auto;
      z-index: 4;

      //modifyers
      &--left{
        right:auto;
        left: 10%;
      }
      &--right{
        left:auto;
        right:10%;
      }

      //media query - phone small
      @media(max-width:$screen-sm-max ){
        //styles
        width: 80%;
        max-width: none;

        //positioning
        left:0;
        right:0;
        margin:auto;
      }



      .content{
        //styles
        line-height: 25px;
        font-size: 1.5rem;
        text-align: justify;
        overflow-y: auto;



        //sizing
        height:inherit;

        //spacing
        padding: 0 5%;

        //positioning
        position: relative;
        z-index: 4;

        //modifyers
        &--textShadow{
          text-shadow: 0 0 5px #000;
        }

        .cta{
          //styles
          text-align: center;
          font-size: 3rem;
          cursor: pointer;
          -webkit-user-select: none;
          user-select: none;

          //sizing
          width:70%;

          //spacing
          padding:30px;
          margin: 20px auto;
        }
      }
  }
}
